.farm {
  text-align: center;
}

.farm-header {
  width: 100%;
}

.farm-body-wrapper {
  display: flex;
  flex-direction: row;
}

.farm-region {
  width: 30%;
  border: 1px solid black;
  margin: 3.3%;
}

.house-region {
  display: flex;
  flex-direction: column;
  margin: 3%;
}

.house-level {
  border: 1px solid black;
}

.house-attic {
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right:100px solid transparent;
  border-bottom: 100px solid black;
}

.sensors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.sensor {
  border: 1px solid black;
  margin: 2%;
  padding: 1%
}

.garden-region {
  display: flex;
  flex-direction: column;
  margin: 3%;
}

.garden-space {
  border: 1px solid black;
  margin: 2%;
}
