.location {
  background-color: white;
  height: 88vh;
  overflow-y: scroll;
}

.location-form-items-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.location-form-item {
  margin: 10px;
}
