.metric-body {
  text-align: center;
}

.metric-region {
  text-align: left;
  margin-left: 3%;
  margin-right: 3%;
}

.metric-area {
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
}

.metric-space {
  text-align: left;
  margin-left: 7%;
  margin-right: 7%;
}
