.metric-sensor {
  text-align: left;
  margin-left: 9%;
  margin-right: 9%
}

.metric-sensor-actions-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 7.5%;
  margin-right: 30%;
}

.metric-sensor-action {
  border: 1px solid black;
  padding: 5px;
}

.metric-measurements-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.metric-measurements {
  margin: 20px;
}

.metric-measurement-type {
  text-align: left;
}

.metric-measurement-wrapper {
  display: flex;
  flex-direction: row;
}

.metric-measurement {
  margin: 20px;
  padding: 10px;
  border: 1px solid black;
}

.metric-measurement-ok {
  background-color: green;
}

.metric-measurement-alert {
  background-color: red;
}
