.metric-measurement-error {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 13%;
  margin-right: 10%;
}

.metric-sensor-h5 {
  text-align: left;
  margin-left: 9%;
  margin-right: 9%;
}

.metric-sensor {
  text-align: left;
  margin-left: 9%;
  margin-right: 9%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}

.metric-sensor-actions-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 7.5%;
}

.metric-sensor-action {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  background-color: #c3c6c9;
  margin-left: 5px;
  margin-right: 5px;
}

.metric-sensor-action:hover {
  cursor: pointer;
}

.metric-measurements-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-right: 10%;
  margin-left: 10%;
}

.metric-measurements {
  margin: 20px;
}

.metric-measurement-type {
  text-align: center;
}

.metric-measurement-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.metric-measurement {
  padding: 10px;
  border: 1px solid black;
}

.metric-measurement-ok {
  background-color: green;
}

.metric-measurement-alert {
  background-color: red;
}

@media only screen and (max-width: 740px) {
  .metric-sensor-h5 {
    margin-right: 100px;
  }

  .metric-sensor-actions-wrapper {
    justify-content: flex-start;
    margin-left: 20px;
  }

  .metric-sensor-action {

  }
}

@media only screen and (max-width: 500px) {
  .metric-sensor-action {
    margin-right: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
