.metric-sensor {
  text-align: left;
  margin-left: 9%;
  margin-right: 9%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.metric-sensor-actions-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 7.5%;
  margin-right: 30%;
}

.metric-sensor-action {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #c3c6c9;
}

.metric-sensor-action:hover {
  cursor: pointer;
}

.metric-measurements-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-right: 10%;
  margin-left: 10%;
}

.metric-measurements {
  margin: 20px;
}

.metric-measurement-type {
  text-align: center;
}

.metric-measurement-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.metric-measurement {
  padding: 10px;
  border: 1px solid black;
}

.metric-measurement-ok {
  background-color: green;
}

.metric-measurement-alert {
  background-color: red;
}
